h1
{
    font-size: 30px;
    height: 15px;
    margin-bottom: auto;
    margin-top: auto;
    
}

h2
{
    font-size: 20px;    
}

.image_separation
{
    
}

.colorier_mot {color: #BDBDBD;}/*Couleur Material Design*/

.souligner_mot 
{
    text-decoration: underline;
    text-decoration-color:#BDBDBD;/*Couleur Material Design*/
}

.bloc_gauche
{     
    display:inline-flex;
    flex-direction: column;
    text-align: left;    
    background-color: #BDBDBD; /*Couleur Material Design*/
    margin-right: 50px;
    width:350px;
} 

.bloc_droite
{     
    display:inline-flex;
    flex-direction: column;
    text-align: left;
    vertical-align: top;
    margin-top: 50px;
    width:350px;
} 

#paragraphe_gauche
{
    text-align: left;        
    margin-top: auto;    

}

#paragraphe_droite
{
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

#photo
{
    border-radius: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;         
}

.titre_gauche
{
    background-color: black;
    color: #BDBDBD;/*Couleur Material Design*/
    text-align: center;
    font-size: 20px;
}

.titre_droite
{    
    text-align: left;
    font-size: 20px;     
}

.logo_droite
{
    margin-right: 20px;
}

a
{
   color: cornflowerblue; 
}

a:hover
{
    color:yellow;
}

a:visited
{
    color:coral
}

 i.fas /*Icon Font-Awesome*/
  {
    color:black;      
  }
