*
{
    font-family: calibri, Helvetica, Arial, sans-serif;
}
h1
{
    font-size: 30px;
    height: 15px;
    margin-bottom: auto;
    margin-top: auto;    
}

h2
{
    font-size: 20px;
}

h4
{
    margin-bottom: auto;
    margin-top: auto;
}

.separateur_hr
{
    margin-top: -25px;
    margin-bottom: 25px;
}
.afficher_masquer_nom
{
    display: none;
    visibility: hidden;
}

.afficher_masquer_titre
{
    display: none;
    visibility: hidden;
}

.colorier_mot {color: #BDBDBD;}/*Couleur Material Design*/

.colorier_mot_blanc {color: white;}

.souligner_mot 
{
    text-decoration: underline;
    text-decoration-color:#BDBDBD;/*Couleur Material Design*/    
}

.souligner_mot_blanc
{
    text-decoration:underline;
    text-decoration-color:white;    
}

.bloc_gauche
{     
    display:inline-flex;        
    flex-direction: column;
    justify-content: center;
    text-align: left;    
    background-color: #BDBDBD; /*Couleur Material Design*/
    margin-top: 20px;
    width:350px;
} 

.bloc_droite
{     
    display:inline-flex;        
    flex-direction: column;
    justify-content: center;
    text-align: left;
    vertical-align: top;
    margin-top: 20px;        
    width:500px;
} 

#paragraphe_gauche
{
    text-align: left;        
    margin-top: auto;    
}

#paragraphe_droite
{
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

#photo
{
    border-radius: 100px;
    margin-top: 25px;
    height: 100px;
    width:100px;
}

.titre_gauche
{
    background-color: black;
    color: #BDBDBD;/*Couleur Material Design*/
    text-align: center;
    font-size: 20px;
}

.titre_droite
{    
    text-align: left;
    font-size: 20px;     
}

.logo_droite
{
    margin-right: 30px;
}

a
{
   color: cornflowerblue; 
}

a:hover
{
    color:yellow;
}

a:visited
{
    color:coral
}

 i.fas, i.far /*Icon Font-Awesome*/
  {
    color:black;      
  }

/*table
{
    border-collapse: collapse        
}*/

tr, td
{
    vertical-align: top;
    padding:15px;
}

.td_alignement
{
    text-align: center;
}

@media all and (max-device-width: 480px) /* Règles CSS pour les mobiles */
{
    h1, h2
    {
        display: none;
    }
    
    .afficher_masquer_nom
    {
        display:inherit;
        font-size: 30px;
        height: 15px;
        margin-bottom: auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .afficher_masquer_titre
    {
        display:inherit;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 906px) /* Règles CSS petites fenetres */
{
    h1, h2
    {
        display: none;
    }

    .afficher_masquer_nom
    {
        display:inherit;
        visibility: inherit;
        font-size: 30px;
        height: 15px;
        margin-bottom: auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .afficher_masquer_titre
    {
        display:inherit;
        visibility: inherit;
        margin-left: auto;
        margin-right: auto;
    }
}

