p
{
    
}

h1, h2
{
    display:flex;
    margin-right: 50px;
    margin:auto;
}

ul
{
    margin:auto;
    margin-top: 10px;
}

#logo
{
    display:flex;        
    margin-left: 15px;
    margin: auto;
}

.bloc
{
    display:flex;
    margin: auto;
}

